$max-width: 1116px;

$color-background: rgb(247, 247, 248);
$color-white: rgb(255, 255, 255);
$color-black: rgb(35, 33, 52);
$color-gray200: rgb(234, 235, 237);
$color-gray500: rgb(172, 173, 185);
$color-gray600: rgb(123, 124, 136);
$color-gray900: #343a40;
$color-blue100: rgb(222, 236, 255);
$color-blue500: rgb(94, 150, 252);
$color-blue600: rgb(59, 124, 211);

$small-desktop-width: 1115px;
// $tablet-width: 950px;
$mobile-width: 730px;
$small-mobile-width: 450px;
