@import '../../styles/style.scss';

.page {
  max-width: $max-width;
  display: flex;
  justify-content: center;
  gap: 28px;
  @include media-small-desktop {
    gap: 15px;
  }
  @include media-mobile {
    flex-direction: column;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
  min-width: 0;
}
