@import '../../../../styles/style.scss';

.container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  @include media-small-mobile {
    margin-top: 20px;
  }
}

.control {
  @include media-small-mobile {
    min-width: 22px;
    height: 22px;
    @include font(12px, 14px, 400);
    padding: 0 3px;
  }
}
