@import '../../../styles/style.scss';

.filters {
  width: 315px;
  max-height: 360px;
  flex-shrink: 0;
  border: 1px solid $color-gray200;
  background-color: $color-white;
  border-radius: 12px;
  padding: 20px 19px;
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
  }
  &__button {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    color: $color-white;
    background-color: $color-blue500;
    border: none;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    @include font(14px, 21px, 500);
  }
  &__title {
    @include font(20px, 20px, 700);
    font-family: 'Inter', sans-serif;
  }
  &__reset {
    display: flex;
    gap: 4px;
    align-items: center;
    @include font(14px, 20px, 500);
    font-family: 'Inter', sans-serif;
    color: $color-gray500;
  }
  &__ico {
    width: 16px;
    height: 16px;
    background: url('../../../assets/cross.svg');
  }
}
