@import 'styles/style.scss';
.App {
  text-align: center;
  background-color: $color-background;
  min-height: 100vh;
  &__main {
    padding: 40px 0;
    max-width: $max-width;
    margin: 0 auto;
    @include media-small-desktop {
      padding: 20px 10px;
    }
  }
}
