@import 'styles/variables.scss';
.App {
  text-align: center;
  background-color: $color-background;
  min-height: 100vh;
  &__main {
    padding: 40px 0;
    width: $max-width;
    margin: 0 auto;
  }
}
