@import '../../../../styles/style.scss';

.item {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-start;

  background-color: $color-white;
  border: 1px solid $color-gray200;
  border-radius: 12px;
  padding: 23px 24px;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  @include media-small-desktop {
    gap: 9px;
    padding: 15px;
  }
  @include media-small-mobile {
    gap: 7px;
    padding: 10px;
  }
  &__header {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    .title {
      max-width: 92%;
      @include font(20px, 24px, 600);
      color: $color-blue500;
      text-align: left;
      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @include media-small-desktop {
        white-space: normal;
        @include font(18px, 20px, 600);
      }
      @include media-small-mobile {
        @include font(15px, 16px, 600);
      }
    }
  }
  &__main {
    @include font(16px, 20x, 400);
    display: flex;
    gap: 12px;
    align-items: center;
    @include media-small-desktop {
      @include font(14px, 16px, 400);
    }
    @include media-small-mobile {
      flex-direction: column;
      @include font(11px, 14px, 400);
      gap: 4px;
      align-items: flex-start;
    }
    .dot {
      color: $color-gray600;
      @include media-small-mobile {
        display: none;
      }
    }
  }
  &__footer {
    display: flex;
    align-items: center;
    gap: 8px;
    @include font(16px, 19px, 400);
    font-family: 'Inter', sans-serif;
    @include media-small-desktop {
      @include font(14px, 16px, 400);
    }
    @include media-small-mobile {
      gap: 6px;
      @include font(12px, 14px, 400);
    }
  }
}

.salary {
  font-weight: 700;
}

.location {
  width: 20px;
  height: 20px;
  background: url('../../../../assets/location.svg');
}
.star {
  &-fav {
    border: none;
    width: 22px;
    height: 22px;
    margin-top: 1px;
    background: url('../../../../assets/starFav.svg') no-repeat;
    @include media-small-mobile {
      width: 19px;
      height: 19px;
      background-size: contain;
    }
  }
}
